body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 18px;
}

button {
    background-color: #0a3037;
    border-radius: 0.2em;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 0.6em;
    margin-top: 1em;
}

/* NAVIGATION */
header {
    background-color: #0a3037;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: white;
}

.navbar {
    padding: 15px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

/* MAIN */
main {
    margin: 4em;
    margin-left: 15em;
    margin-right: 15em;
    border: solid rgb(215, 215, 215) 1px;
    border-radius: 2em;
    padding: 3em;
    box-shadow: 4px 4px 20px rgb(155, 155, 155);
}

.social-media {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
}

.social-media a {
    font-size: 30px;
}

.icon {
    width: 30px;
}

img.photo-profile {
    width: 160px;
    border-radius: 4em;
    margin-bottom: 1em;
    box-shadow: 6px 6px 8px rgb(169, 169, 169);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-profile h2 {
    margin: 0;
    display: flex;
    justify-content: center;
}

.section-profile p {
    margin: 0;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
}

.greeting {
    margin: 0;
}

.section-intro {
    max-width: 100%;
    margin-bottom: 2em;
}

.enter {
    margin: 0;
}

.background {
    width: 100%;
    display: flex;
    border-radius: 10px;
    box-shadow: 6px 6px 14px rgb(92, 92, 92);
}

#name {
    border-radius: 0.5em;
    height: 2em;
    padding-left: 1em;
}

/* VIDEOS */
iframe {
    margin-top: 2em;
    border-radius: 2em;
    box-shadow: 6px 10px 14px rgb(0, 0, 0);
}

/* HOVER */
header a:hover {
    background-color: rgb(0, 188, 188);
    transition: 1s;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.button-say:hover {
    background-color: rgb(0, 188, 188);
    transition: 1s;
    color: black;
    margin: 10px;
}

.social-media li a:hover {
    background-color: rgb(10, 167, 167);
    transition: 1s;
    color: rgb(255, 255, 255);
    width: 0px;
    border-radius: 10px;
    padding: 6px;
}

.subscribe a:hover {
    background-color: rgb(198, 17, 17);
    transition: 1s;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
}


/* FOOTER */
footer {
    background-color: #0a3037;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

footer p {
    padding-left: 2em;
    font-size: 14px;
    color: white;
}

.div-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iframe-container {
    width: 100%;
    max-width: 560px; /* Adjust the max-width based on your design */
    aspect-ratio: 16/9; /* Maintain 16:9 aspect ratio */
    margin: 10px; /* Adjust margin based on your design */
}

/* NEW MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    main {
        margin: 2em;
    }

    .section-intro {
        max-width: 100%;
        margin-bottom: 1em;
    }

    .button-say {
        margin: 10px;
    }

    .section-profile h2,
    .section-profile p {
        text-align: center;
    }
    .div-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iframe-container {
        width: 100%;
        max-width: 400px; /* Adjust the max-width based on your design */
    }

    .subscribe {
        text-align: center;
    }

    iframe {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 1em;
    }
    iframe {
        height: 100%;
        width: 100%;
    }
}